<div class="container-fluid p-5 bg-success bg-opacity-25">
  <div class="row align-items-center">
      <div class="col order-1">
        <h1 class="display-2 text-center">Welcome</h1>
      </div>
  </div>
  <div class="row justify-content-center align-items-center p-5">
    <div class="col text-center">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>Краткое описание.</p>
          </blockquote>
        </figure>
    </div>
  </div>
  <div class="row justify-content-center align-items-center p-5">
    <div class="col text-center">
        <a class="btn btn-primary m-2 bg-success border-success" href="#about" role="button">О приложении</a>
        <a class="btn btn-primary m-2 bg-success border-success" href="#exer-gen" role="button">Приступить к заданиям</a>
    </div>
  </div>
</div>
<div id="about" class="container-fluid p-5 bg-success bg-opacity-25">
  <div class="row align-items-center">
      <div class="col order-1">
        <h1 class="display-4 text-center">Описание работы приложения.</h1>
      </div>
  </div>
</div>
<div id="exer-gen" class="container-fluid p-5 bg-success bg-opacity-25">
  <div class="row align-items-center">
      <div class="col order-1">
        <h1 class="display-6 text-center">Выберите тип задания:</h1>
      </div>
  </div>
  <div class="row justify-content-center align-items-center p-5">
    <div class="col text-center">
        <div>
            <h4>Сказуемое в пассивном залоге</h4>
            <p>Данное упражнение направленно на тренировку навыка образовывать паассивные конструкции.</p>
            <form action="/generation" method="post">
            <button class="btn btn-primary m-2 bg-success border-success" name="task_type" value="pssv">Сгенерировать</button>
            </form>
        </div>
    </div>
    <div class="col text-center">
        <div>
            <h4>Глагольное управление</h4>
            <p>Данное упражнение направленно на тренировку навыка построения глагольных словосочетаний.</p>
            <form action="/generation" method="post">
            <button class="btn btn-primary m-2 bg-success border-success" name="task_type" value="rule">Сгенерировать</button>
            </form>
        </div>
    </div>
  </div>
</div>