<div class="container-fluid p-5 bg-success bg-opacity-25">
  <div class="row align-items-center">
      <div class="col order-1 w-80 h-100 bg-white text-center">
        <h1 class="display-6 m-4">Помощь</h1>
        <blockquote class="blockquote text-center fs-6 fw-lighter">
        </blockquote>

          <div class="p-2">
              <ul class="list-group list-group-flush">

                  <a class="" data-bs-toggle="collapse" style="text-decoration: none; color: black;"
                 href="#users" role="button" aria-expanded="false" aria-controls="users">
                      <li class="list-group-item col-sm-12 list-group-item-action text-start">
                          <p class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                          </svg> Для кого это приложение</p></a>
                  <div class="collapse" id="users">
                  <div class="card card-body">
                Данное приложение создано для самостоятельной практики студентов и для помощи преподавателям в подготовке методических материалов.
                      <br><br>Приложение ориентированно на обучение научному стилю речи русского языка, поэтому минимальный рекомендуемый уровень владения языком — В1.                  </div>
                </div></li>

                  <a class="" data-bs-toggle="collapse" style="text-decoration: none; color: black;"
                 href="#functional" role="button" aria-expanded="false" aria-controls="functional">
                      <li class="list-group-item col-sm-12 list-group-item-action text-start">
                          <p class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                          </svg> Возможности приложения</p></a>
                  <div class="collapse" id="functional">
                  <div class="card card-body">
                В данном приложении реализована возможность автоматической генерации заданий нескольких типов на основе текстов из корпуса или текста, введенного пользователем.
                <br><br>После ввода критериев создания теста (см. пункт «Генерация заданий») загружается страница с заданиями. На ней содержится краткая инструкция по выполнению и сами задания. Каждому упражнению соответствует поле для введения ответа, слова в начальной форме для заполнения пропусков, поле для отметки упражнения как некорректного. Если отметить упражнение как содержащее ошибку, то появится поле для ввода комментария. Это позволит улучшить работу приложения.
                <br><br>Внизу страницы расположена кнопка «Скачать файл с заданием», позволяющая загрузить файл в PDF-формате с тестом, и кнопка «Проверить» для перехода к странице с результатами.
                <br><br>После выполнения проверки правильно решенные упражнения выделены зеленым, неправильно — красным, не оцениваемые — белым. Вверху странице указан общий процент верно решенных упражнений в тесте.
                <br><br>В личном профиле (см. пункт «Личный профиль») можно увидеть статистику по всем решенным заданиям.
                  </div></div></li>

                  <a class="" data-bs-toggle="collapse" style="text-decoration: none; color: black;"
                 href="#task_gen" role="button" aria-expanded="false" aria-controls="task_gen">
                      <li class="list-group-item col-sm-12 list-group-item-action text-start">
                          <p class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                          </svg> Генерация заданий</p></a>
                  <div class="collapse" id="task_gen">
                  <div class="card card-body">
                На данной странице предлагается ввести следующие параметры:
                <ul><br>
                    <li>источник текста («Корпус веб-приложения» или «Свой текст»);</li>
                    <li>тематику текста (доступно при работе с корпусом веб-приложения);</li>
                    <li>количество упражнений в тесте (в диапазоне от 1 до 99, по умолчанию 5);</li>
                    <li>показ грамматических подсказок.</li></ul>
                <br>Обязательными для заполнения являются поля: «источник текста», «количество упражнений в тесте» и «показ грамматических подсказок».
                <br><br>При выборе пункта «Свой текст» появляются поля для ввода текста и загрузки текстового файла. Для загрузки подходят только файлы txt-формата.
                <br>*Если одновременно и ввести текст, и загрузить файл, что для генерации будет использован введенный текст.
                <br><br>После формы расположена кнопка «Сгенерировать», которая после заполнения всех полей перенаправляет пользователя на страницу с заданиями.
                  </div></div></li>

                  <a class="" data-bs-toggle="collapse" style="text-decoration: none; color: black;"
                 href="#profile" role="button" aria-expanded="false" aria-controls="profile">
                      <li class="list-group-item col-sm-12 list-group-item-action text-start">
                          <p class="ms-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                          </svg> Личный профиль</p></a>
                  <div class="collapse" id="profile">
                  <div class="card card-body">
                Для создания профиля необходимо пройти краткую процедуру регистрации: указать адрес электронной почты, логин, ФИО и придумать пароль.
                <br><br>После авторизации доступна страница со всеми решенными заданиями, сгруппированными в тесты, ответами к ним, оценками и датами выполнения. Также в профиле расположена диаграмма, демонстрирующая процентное соотношение верно и неверно решенных упражнений.
                  </div></div></li>

               </ul></div>

      </div>
  </div>
</div>


